body {
    background-color: rgb(255, 255, 183);
    padding: 0;
    margin: 0;
}

#container {

    background-color: white;
    display: flex;
    height: 960px;
    width: 960px;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    margin-left: 700px;
    flex-wrap: wrap; 
    
}

.btnContainer {
    
    overflow-x: hidden;
    position: fixed;
    width: 400px;
    height: 100%;
    background-color: lightblue;
    left: 0;
    top: 0;
    text-align: center;
    padding-top: 3rem;
    
    
}

h1 {
    padding-top: 1rem;
    padding-bottom: 3rem;
}

.intro {
    padding-bottom: 3rem;
}

#cellH {
    aspect-ratio: 1;
    border: none;
    margin: 0;
}

.btnContainer button {
    display: block;
    margin: 10px;
    height: 30px;
    width: 100px;
    position: relative;
    left: 35%
    
}
